@if(movie(); as loadedMovie){
<section class="relative rounded-lg overflow-hidden -mx-4 sm:-mx-6 lg:-mx-8 mb-12">
  <div
    class="h-[60vh] min-h-[400px] max-h-[600px] bg-cover bg-center"
    style="
      background-image: url('{{ imageBaseUrl }}/{{ loadedMovie.backdrop_path }}');
    "
  ></div>
  <div class="absolute inset-0 hero-gradient"></div>
  <div class="absolute inset-0 flex items-center">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 z-10 w-full md:w-1/2 lg:w-2/5">
      <h1
        class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-4 movie-card-link"
        data-page="details"
      >
        {{ loadedMovie.title }}
      </h1>
      <p class="text-gray-300 mb-6 text-lg">
        {{ loadedMovie.overview }}
      </p>
      <div class="flex space-x-4">
        <button
          class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-3 px-6 rounded-full transition-transform duration-200 hover:scale-105 flex items-center space-x-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-5 h-5"
          >
            <polygon points="5 3 19 12 5 21 5 3"></polygon></svg
          ><span>Play Trailer</span>
        </button>
        @if(!isBookmarked()){
        <button
          class="cursor-pointer bg-gray-700/50 backdrop-blur-sm border border-gray-600 hover:bg-gray-700 text-white font-bold py-3 px-6 rounded-full transition-transform duration-200 hover:scale-105 flex items-center space-x-2"
          (click)="onBookmarkClick()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-5 h-5"
          >
            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
            <polyline points="17 21 17 13 7 13 7 21"></polyline>
            <polyline points="7 3 7 8 15 8"></polyline></svg
          ><span>Add to Watchlist</span>
        </button>
        } @else {
        <button
          class="cursor-pointer bg-teal-500 hover:bg-teal-600 text-black font-bold py-3 px-6 rounded-full transition-transform duration-200 hover:scale-105 flex items-center space-x-2"
          (click)="onBookmarkClick()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-5 h-5"
          >
            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
            <polyline points="17 21 17 13 7 13 7 21"></polyline>
            <polyline points="7 3 7 8 15 8"></polyline></svg
          ><span>Remove from Watchlist</span>
        </button>

        }
      </div>
    </div>
  </div>
</section>
}
