@if(movie()){ @if(cardPage() === 'home'){
<div class="flex-shrink-0 w-48 md:w-56 group movie-card-link">
  <div
    class="relative rounded-lg overflow-hidden transition-transform duration-300 ease-in-out group-hover:scale-105"
  >
    <img
      src="{{ imageBaseUrl }}/{{ movie().poster_path }}"
      alt="Movie Poster"
      class="w-full h-auto"
    />
    <div
      class="absolute inset-0 bg-black/20 cursor-pointer"
      [routerLink]="['/movies', movie().id]"
    ></div>
    <div
      class="absolute bottom-0 left-0 right-0 p-4 card-gradient opacity-0 group-hover:opacity-100 transition-opacity duration-300"
    >
      <h3 class="text-white font-bold text-lg">{{ movie().title }}</h3>
      <div class="flex items-center text-sm text-gray-300 mt-1">
        <svg class="w-4 h-4 text-yellow-400 mr-1" fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
          ></path></svg
        ><span>{{ movie().vote_average | number : '1.0-1' }}</span>
      </div>
    </div>
    <button
      class="{{
        isBookmarked() ? 'bg-teal-500 text-black' : ''
      }} absolute top-2 right-2 bg-black/50 p-2 rounded-full  hover:bg-teal-500 hover:text-white transition-colors duration-200 cursor-pointer"
      (click)="notifyParent()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-5 h-5"
      >
        <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
      </svg>
    </button>
  </div>
</div>

} @else if (cardPage() === 'watchlist') {
<div class="group">
  <div class="relative rounded-lg overflow-hidden">
    <img src="{{ imageBaseUrl }}/{{ movie().poster_path }}" /><button
      class="absolute top-2 right-2 bg-red-600/80 p-2 rounded-full text-white hover:bg-red-500 transition-colors duration-200 opacity-0 group-hover:opacity-100 cursor-pointer"
      (click)="notifyParent()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-5 h-5"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  </div>
</div>
} }
